.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto; }
  .app .titleTop {
    height: 805px; }
  .app .titleLogo {
    border-bottom: #231F20 solid 20px;
    border-top: #231F20 solid 20px;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px; }
  .app .titleBottom {
    height: 1045px; }
  .app .header {
    height: 250px; }
    .app .header .headerBg img {
      width: 100%;
      border-bottom: #231F20 solid 20px; }
    .app .header .logo {
      position: relative;
      bottom: 150px;
      left: 45px;
      max-width: 450px;
      width: 100%; }
  .app .nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none; }
    .app .nav ul li {
      background: #ececec;
      opacity: .4;
      padding: 5px; }
    .app .nav ul a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      color: #231F20; }
  .app .footer {
    border-top: #231F20 solid 20px; }
  .app .button {
    width: 250px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); }

/*# sourceMappingURL=App.css.map */
