@font-face { font-family: Dinot-regular; src: url('./fonts/DINOT Regular.otf'); }
@font-face { font-family: Dinot-black; src: url('./fonts/DINOT Black.otf'); }

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1080px;
  margin: 0 auto;
  font-family: Dinot-regular;
  hr {
    border-color: lightgray;
    width: 85%;
  }

  .titleTop {
    height: 805px;
  }

  .titleLogo {
    border-bottom: #231F20 solid 20px;
    border-top: #231F20 solid 20px;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
  }

  .titleBottom {
    height: 1045px;
    .titleLogos {
      display: flex;
      padding-bottom: 45px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
      }
    }
    .titleText {
      display: flex;
      justify-content: center;

      span {
        font-size: 32px;
        color: white;
        padding: 20px;
      }
    }
    .btn {
      background-position: center;
      background-repeat: no-repeat;
      width: 250px;
      height: 80px;
      margin: 80px auto 0 auto;
      cursor: pointer;
      span {
        font-size: 32px;
        position: relative;
        left: 90px;
        top: 15px;
        a {
          text-decoration: none;
          color: #9E1433;
        }
      }
    }
  }

  .header {
    height: 250px;
    .headerBg img{
      width: 100%;
      border-bottom: #231F20 solid 20px;
    }

    .logo {
      position: relative;
      bottom: 150px;
      left: 45px;
      max-width: 450px;
      width: 100%;
    }
  }

  .nav {
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      li {
        background: #ececec;
        opacity: .4;
        padding: 5px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        color: #231F20;
      }
    }
  }

  .footer {
    border-top: #231F20 solid 20px;
  }
  .button {
    width: 250px;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  }

    //-webkit-box-sizing: content-box;
    //-moz-box-sizing: content-box;
    //box-sizing: content-box;
    //width: 100px;
    //height: 50px;
    //-o-text-overflow: clip;
    //text-overflow: clip;
    //-webkit-transform:    skewX(-40deg);
    //transform:    skewX(-40deg);
    //background: rgba(255,255,255,1);
    //background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    //background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    //background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    //background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    //background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    //background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );




}




